CompileFlags:
  Add:
    - --target=x86_64-hvos
    - -ffreestanding
    - -std=c11
    - --sysroot=/home/h/src/projects/hvos/sysroot
    - -isystem=/home/h/src/projects/hvos/sysroot/usr/include
    - -nobuiltininc